<%- include('../partials/head.ejs'); %>
<body class="background-image">
    <div class="set-div">
        <label for="input">Say : </label>
        <input type="text" id="input">
        <h1 id="say"></>
    </div>
        <!-- js -->
    <script type="text/javascript" src="js/say.js"></script>
</body>
</html>